# 忽略所有的可执行文件
*.[o|a|so|exe|out]

# 忽略 C++ 编译过程中的临时文件
*.d
*.obj
*.exe
*.out
*.cph

*.class

# 忽略 Makefile 生成的文件
Makefile
Makefile.in

# 忽略所有 IDE 相关文件
.idea/
.vscode/
*.cph/
.cph/
bin/
template/
# 忽略调试文件
cmake-build-debug/
debug/
.cph/